.app {
  font-family: "Quicksand", sans-serif;
  padding: 0 1rem;
}

.search {
  padding: 0 24px;
  color: white;

  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  border: 1px solid rgba(209, 213, 219, 0.3);

  display: flex;
  align-items: center;

  margin-bottom: 18px;
}

input {
  font-family: inherit;
  font-weight: 300;
  border: 0;
  padding: 5px 10px;
  width: 100%;
  background: transparent;
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  outline: none;
  height: 50px;
}

input::placeholder {
  color: #ddd;
}

.search > svg {
  width: 20px;
  cursor: pointer;
}

.disabled {
  opacity: 0.9;
}
