.app {
  /* background-color: #fad961;
  background-image: linear-gradient(225deg, #fad961 0%, #f76b1c 100%); */

  /* am */
  /* background-color: #58a2ed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ded7c9' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%239e9c86' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ddd7c6' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2391907b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23dcd6c2' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23848370' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23dbd6bf' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23787764' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23dad5bb' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%236b6a59' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23d9d5b8' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%235e5e4e' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */

  /* height: 100vh; */
  /* overflow-y: auto; */
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.search {
  padding: 0 24px;
  color: white;

  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  border: 1px solid rgba(209, 213, 219, 0.3);

  display: flex;
  align-items: center;

  margin-bottom: 18px;
}

input {
  font-family: inherit;
  font-weight: 300;
  border: 0;
  padding: 5px 10px;
  width: 100%;
  background: transparent;
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  outline: none;
  height: 50px;
}

input::placeholder {
  color: #ddd;
}

.search > svg {
  width: 20px;
  cursor: pointer;
}

.container {
  /* display: grid;
  place-items: center;
  padding: 25px;
  height: calc(100% - 50px);
  align-content: space-evenly; */
}

/* .container > div {
  margin-bottom: 25px;
} */

.forecast {
  width: 100%;
  max-width: 1024px;
  height: 300px;
  background-color: ivory;

  margin-top: 18px;
}
