hr {
  border: 1px double rgba(255, 255, 255, 0.45);
}

.divider {
  display: none;
  border-top: solid 1px rgba(255, 255, 255, 0.45);
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  margin-bottom: 15px;
}

.current {
  width: calc(100% - 36px);
  max-width: 1024px;
  padding: 18px;
  font-weight: 500;
  color: white;
  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.header {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header > svg {
  height: 20px;
  cursor: pointer;
}

.main {
  margin: 30px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.main > .left,
.right {
  margin: 10px;
}

.left {
  text-transform: capitalize;
}

.left > p:first-of-type {
  max-height: 27px;
  font-size: 18px;
  font-weight: 500;
}

.temp {
  font-size: 5em;
  font-weight: 800;
  font-family: "Stick No Bills", sans-serif;
  line-height: 160px;
  height: 130px;
}

.weather {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  justify-content: space-evenly;
}

.icon {
  width: 65px;
}

.suntiming {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.suntime {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.suntime > div {
  display: flex;
  align-items: center;
}

.suntime > div > .icon {
  max-width: 36px;
}

.suntime > div > .icon > svg > path {
  stroke: white;
}

.right {
  text-align: right;
}

.right > p:first-of-type {
  font-size: 18px;
  font-weight: 500;
}

.temperatures {
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.temperatures > div > div {
  display: flex;
  align-items: center;
}

.temperatures > div > div > .icon {
  max-width: 50px;
  display: flex;
  align-items: center;
}

.misc {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.misc > div > div {
  display: flex;
  align-items: center;
}

.misc > div > div > .icon {
  max-width: 40px;
  display: flex;
}

.misc > div > div > .icon > svg > path:first-of-type {
  fill: #2885c7;
}

sup {
  font-size: 8px;
}

@media only screen and (max-width: 560px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .weather {
    justify-content: space-evenly;
  }
  .left {
    text-align: center;
    /* border-bottom: 5px double rgba(255, 255, 255, 0.45); */
  }
  .divider {
    display: unset;
  }
  .right {
    text-align: center;
  }
}
