.app {
  padding: 0 1rem;
}

.search {
  padding: 0 24px;
  margin-bottom: 18px;
  color: white;

  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  border: 1px solid rgba(209, 213, 219, 0.3);

  display: flex;
  align-items: center;

  transition: 0.5s ease background-color;
}

input {
  font-family: inherit;
  font-weight: 300;
  border: 0;
  padding: 5px 10px;
  flex-grow: 1;
  background: transparent;
  font-size: 1.25em;
  color: white;
  text-transform: capitalize;
  outline: none;
  height: 50px;
}

input::placeholder {
  text-transform: initial;
  color: #777;
}

.search > svg {
  width: 20px;
  cursor: pointer;
}

.disabled {
  opacity: 0.9;
}

.error {
  background-color: rgba(255, 0, 0, 0.3);
}

.search > span {
  margin-right: 20px;
}
