.app {
  padding: 0 1rem;
}

.search {
  color: #eee;
  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);

  padding: 0 24px;
  margin-bottom: 18px;

  border-radius: 50px;

  display: flex;
  align-items: center;
}

input {
  font-family: inherit;
  font-weight: 300;
  border: 0;
  font-size: 1.1em;
  padding: 5px 10px;
  flex-grow: 1;
  background: transparent;
  color: white;
  text-transform: capitalize;
  outline: none;
  height: 50px;
}

input::placeholder {
  color: #fff;
  text-transform: initial;
}

.search > svg {
  min-width: 20px;
  height: 20px;
  cursor: pointer;
}

.error {
  display: table;
  margin: 0 auto;
  text-transform: lowercase;
  text-align: center;
  font-style: italic;
  border-radius: 10px 10px 0 0;
  padding: 5px 20px;
  border-bottom: none !important;
  color: #fff;

  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
}

.disabled {
  opacity: 0.9;
}

.search > span {
  margin-right: 20px;
}
