body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", sans-serif,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  min-height: 100vh;

  background-image: url(./assets/day.svg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  transition: background-image 1s linear;
}

body > div {
  max-width: 1024px;
  width: 100%;
  margin: auto 0px;
}

p {
  margin: 0;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top-color: #4c8bf5;
  opacity: 0;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  width: 16px;
  height: 16px;
  transition: opacity 250ms;
  animation: rotate-spinner 250ms linear;
  animation-iteration-count: infinite;
}

div.loading .spinner {
  opacity: 1;
  transition-delay: 250ms;
}

.loading > * {
  opacity: 0;
  transition: opacity 250ms;
  transition-delay: 250ms;
}

@keyframes rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}
